@eco-green-1: rgba(61, 153, 61, 1);
@eco-green-4: rgba(29, 71, 40, 1);
@eco-gray: rgba(250, 247, 245, 1);
@eco-white: rgba(255, 255, 255, 1);

//字体颜色
@eco-black: rgba(0, 0, 0, 1);
@eco-gray-1: rgba(102, 102, 102, 1);
@eco-gray-2: rgba(153, 153, 153, 1);
